$primary-font: 'Old Standard TT', serif;
$secondary-font: 'Archivo', sans-serif;
$third-font: 'Roboto', sans-serif;

.rooms{
  padding-left: 5%;
  text-align: center;
  &__subtitle{
    color: #777777;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 2.799999952316284px;
  }
  &__title{
    color: #222222;
    font-family: $primary-font;
    font-size: 56px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2000000476837158px;
    margin: 5% 0%;
  }
  &__iconbox{
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
    bottom: -10em;
    &__icon{
      margin: 2%;
    }
  }
  &__info{
    text-align: center;
    margin-right: 5%;
    &__title{
      font-family: $primary-font;
      font-size: 28px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -1.2000000476837158px;
    }
    &__text{
      font-family: $third-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin: 5% 0%;
    }
    &__price{
      font-family: $secondary-font;
      font-size: 40px;
      font-weight: 700;
      line-height: 43px;
      color: #BEAD8E;
      ;
    }
    &__night{
      font-family: $secondary-font;
      font-size: 13px;
      font-weight: 700;
      line-height: 43px;
      color:#BEAD8E;
      ;
    }
  }
}
.container {
  display: grid;
  place-items: center;
}

.swiper {
  width: 80%;
}

.image__wrapper {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.image__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.swiper-button-prev {
  background-color: #FFFFFF; 
  padding: 3%;
}

.swiper-button-next {
  color: #FFFFFF;
  background-color:#BDAC8D;
  padding: 3%;
}
.swiper_text{
  position: relative;
  top: -2em;
  background-color: #FFFFFF;
  width: 65%;
  display: flex;
}
@media only screen and (min-width: 1000px) {
  .rooms{
    padding-top: 7em;
    text-align: center;
    &__iconbox{
      width: 15em;
    }
    &__info{
      display: flex;
      justify-content: center;
      text-align: left;
      padding: 2em;
      &__title{
        font-size: 28px;
      }
      &__firstbox{
        flex: 2;
      }
      &__secondbox{
        flex: 1;
        padding-top: 2em;

      }
    }
  }
}