@import "./aboutPage/about.css";
@import "./header/header.css";
@import "./details/details.css";
@import "./homepage/homepage.css";
@import "./offers/offers.css";
@import "./roomdetails/roomDetails.css";
@import "./rooms/rooms.css";
@import "./swiper/swiper.css";

$primary-font: 'Old Standard TT', serif;
$secondary-font: 'Archivo', sans-serif;
$third-font: 'Roboto', sans-serif;

html, * { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body { 
  min-width: 320px; 
}
